@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-stroke;
  }
  body {
    @apply bg-background text-headline antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
